DB_CONNECTION_STRING="server=localhost;Database=VictoryCenterDb;User Id=sa;Password=Admin@1234;MultipleActiveResultSets=true;TrustServerCertificate=true;Encrypt=false;"
INITIAL_ADMIN_EMAIL=admintest@gmail.com
INITIAL_ADMIN_PASSWORD=P123w0rd!
JWTOPTIONS_SECRETKEY=your-jwt-access-token-secret-min-32-chars
JWTOPTIONS_REFRESH_TOKEN_SECRETKEY=your-jwt-refresh-token-secret-min-32-chars
BLOB_LOCAL_STORE_KEY=my-super-secret-local-key
WAY4PAY_MERCHANT_LOGIN=your-merchant-login
WAY4PAY_MERCHANT_SECRET_KEY=your-merchant-secret-key
WAY4PAY_MERCHANT_DOMAIN_NAME=https://example.com
WAY4PAY_API_URL=https://secure.wayforpay.com/pay
CLOUDFLARE_TURNSTILE_SECRET_KEY=your-cloudflare-turnstile-secret-key
CLOUDFLARE_TURNSTILE_SITE_VERIFY_URL=https://challenges.cloudflare.com/turnstile/v0/siteverify
CONTACT_US_EMAIL_OPTIONS_FROM_ADDRESS=your_email_address@example.com
RESEND_API_TOKEN=your_resend_api_token
